<!-- <h1>
  {{ "app.app.title" | translate: { value: "app.app.value" | translate } }}
</h1>
<button
  (click)="translate.use('ru')"
  mat-button color="primary"
  [ngClass]="{ active: translate.currentLang === 'ru' }"
>
  RU
</button>
<button
  (click)="translate.use('en')"
  mat-button color="primary"
  [ngClass]="{ active: translate.currentLang === 'en' }"
>
  EN
</button>

<div class='links'>
  <a *ngIf="!logged" routerLink="/register">{{ "app.auth-form.register" | translate }}</a>
  <a *ngIf="!logged" routerLink="/login">{{ "app.auth-form.login" | translate }}</a>
  <a *ngIf="logged" routerLink="" (click)="logout()">{{ "app.auth-form.logout" | translate }}</a>
</div>

<div *ngIf="users">
  <div *ngFor="let user of users">
    <p>{{ user.username }}</p>
  </div>
</div> -->



<router-outlet>

</router-outlet>

