<div class="background">
    <div class="modal">
        <form novalidate  class="form-control example-form" [formGroup]="userForm">
          <mat-form-field class="example-full-width form-field">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="login" placeholder="Ex. pat@example.com">
            <mat-error *ngIf="login.hasError('emailValidator') && !login.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="login.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field >
            <mat-label>Enter your password</mat-label>
            <input [formControl]="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
              Password must be at least {{password.errors['minlength'].requiredLength}} characters
            </mat-error>
            <mat-error *ngIf="password.hasError('maxlength') && !password.hasError('required')">
              Password must be at least {{password.errors['maxlength'].requiredLength}} characters
            </mat-error>
            <mat-error *ngIf="password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>

            <div class='buttons-group'>
              <button (click)="submit()" mat-raised-button color="accent">Submit</button>
              <button mat-stroked-button color="warn">Cancel</button>
            </div>
        </form>
    </div>
</div>
